body{
    background: #9acfea url("../images/backgroundImages.jpg") 100% ;
}
html{
    background: url("../images/backgroundImages.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}