h1{

    font-size: 30px;
    font-weight: bold;
    text-align:left ;
}

body{
    /*background: #5ED0BD;*/
    background-image: url("../images/Background-HD-Wallpaper-02-Download.jpg");
    /*background: no-repeat;*/
    /*background-color:brown ;*/
}
.para1 span{
    font-size: 100px;
    color: white;
}

.yusoof, .yusoof1, .yusoof2{
    font-size: 50px;
    font-size-adjust: inherit;
    font-weight: bold;
    margin-left: 100px;
    background-repeat:no-repeat;
    background-position:left bottom;
}

.bottom
{

}

p.date {
    text-align:left;
    text-transform:capitalize;
}
