/*h1{

    font-size: 30px;
    font-weight: bold;
    text-align:center ;
    *//*color: white;*//*
}
body {
    margin:0;
    padding:0;
    border:0;			*//* This removes the border around the viewport in old versions of IE *//*
    width:100%;
    background:#fff;
    min-width:600px;    	*//* Minimum width of layout - remove line if not required *//*
    *//* The min-width property does not work in old versions of Internet Explorer *//*
    font-size:90%;
}
.para1 span{
    font-size: 100px;
    color: white;
}

.yusoof, .yusoof1, .yusoof2{
    font-size: 50px;
    font-size-adjust: inherit;
    font-weight: bold;
    margin-left: 100px;
    background-repeat :no-repeat;
    background-position:left bottom;
}


.bottom
{

}

p.date {
    text-align:left;
    text-transform:capitalize;
}*/


#menu {
    background: #9cb925;
    border-right: 3px solid #ee4e1d;
    width: 100px;
    padding: 30px;
    position: fixed;
    z-index: 100000;

    box-shadow: 4px 0 10px rgba(0,0,0,0.25);
    -moz-box-shadow: 4px 0 10px rgba(0,0,0,0.25);
    -webkit-box-shadow: 4px 0 10px rgba(0,0,0,0.25);
}

#menu {
    left: 0; /* Change to right: 0; if you want the panel to display on the right side. */
}

#menu:hover, #menu:focus {
    left: 0 !important; /* Change to right: 0 !important; if you want the panel to display on the right side. */
}
.output-data {
    padding-left:50px;
    background-color: beige;
}