<suite name="Suite1" verbose="1" parallel="tests">
    <test name="Nopackage" >
        <classes>
            <class name="SeleniumGridExample" />
        </classes>
    </test>
    <test name="another" >
        <classes>
            <class name="SeleniumGridExample" />
        </classes>
    </test>
</suite>
