<suite name ="testYusoofSuite" verbose ="1">
    <test name = 'YusoofTest'>

        <groups>
            <run>
                <include name = "runTest"/>
            </run>
        </groups>
        <classes>
            <class name = "TestAccountTest"/>
            <class name = "TestAccountTest2"/>
        </classes>
    </test>
</suite>