/*
h1{
    font-style: italic;
    text-align: center;
}
*/

.yusoof{
    font-size: 30px;
    background-color: #46b8da;
}
#yusoof1{
    font-size: 30px;
    background-color: #b2dba1;
}

body{
    background-color: aqua
}

h1,h2,h3{
    text-align: center;
}
p.center{
    text-align: center;
    text-decoration: #101010;
    text-shadow: #0097da;
}
